.ex-1-square{
  transition: 2s;
}

.ex-1-square:hover{
  background: red;
}

.ex-2-square{
  transition: 2s;
}

.ex-2-square:active{
  width: 99%;
}

.ex-3-square{
  transition: 1s;
}

.ex-3-square:hover{
  border-radius: 50%;
}

.ex-4-square{
  transition: 1s;
}

.ex-4-square:hover{
  background: none;
}

.ex-5-square{
  transition: 1s;
}

.ex-5-square:hover{
  /* width: 100px;
  height: 100px;
  margin: 0; */
  transform: scale(2,2);
}

.ex-5-square:active{
  /* width: 30px;
  height: 30px;
  margin: 40px; */
  transform: scale(0.7,0.7);
}

.ex-6-img:hover{
  filter: grayscale(100%);
}

.ex-7-img{
  transition: 2s;
}

.ex-7-img:hover{
  filter: sepia(60%) grayscale(10%);
}

.ex-8-img{
  transition: 2s;
}

.ex-8-img:hover{
  filter: sepia(80%) grayscale(10%);
  border-radius: 20px;
}

.ex-9-img{
  transition: 2s;
}

.ex-9-img:hover{
  filter: sepia(80%) grayscale(10%);
  border-radius: 30px;
  /* width: 700px;
  margin: 0; */
  transform: scale(1.5,1.5);
}

.ex-10-icon{
  animation-name: round-loop;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes round-loop {
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(-90deg);
  }
  50%{
    transform: rotate(-180deg);
  }
  75%{
    transform: rotate(-270deg);
  }
  100%{
    transform: rotate(-360deg);
  }
}

.ex-11-icon:hover{
  animation-name: half-round-reset;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes half-round-reset {
  0%{
    transform: rotate(0deg);
  }
  25%{
    transform: rotate(90deg);
  }
  50%{
    transform: rotate(180deg);
  }
  75%{
    transform: rotate(270deg);
  }
  90%{
    transform: rotate(0deg);
  }
}

.ex-12-button:hover .ex-12-top-white{
  animation-name: top-blank-space-half-round;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes top-blank-space-half-round {
  0%{
    left: 10%;
  }
  50%{
    left: 70%;
  }
  100%{
    left: 10%;
  }
}

.ex-12-button:hover .ex-12-bottom-white{
  animation-name: bottom-blank-space-half-round;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes bottom-blank-space-half-round {
  0%{
    right: 20%;
  }
  50%{
    right: 70%;
  }
  100%{
    right: 20%;
  }
}

.ex-13-button:hover .ex-13-top-white{
  animation-name: top-blank-space-full-round;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes top-blank-space-full-round {
  0%{
    left: 10%;
    top: -10px;
  }
  30%{
    left: 80%;
    top: -10px;
  }
  50%{
    left: 80%;
    top: 100%;
  }
  70%{
    left: 0;
    top: 100%;
  }
  90%{
    left: -30px;
    top: -10px;
  }
  100%{
    left: 10%;
    top: -10px;
 }
}

.ex-13-button:hover .ex-13-bottom-white{
  animation-name: bottom-blank-space-full-round;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes bottom-blank-space-full-round {
  0%{
    right: 20%;
    bottom: -10px;
  }
  30%{
    right: 80%;
    bottom: -10px;
  }
  50%{
    right: 80%;
    bottom: 100%;
  }
  70%{
    right: 0;
    bottom: 100%;
  }
  90%{
    right: -30px;
    bottom: -10px;
  }
  100%{
    right: 20%;
    bottom: -10px;
 }
}